<div id="homefront" style="text-align: center;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Welcome to SimpleRes</h1>
				<p>Create your own simple resume</p>
				<a class="btn btn-primary" routerLink="/signup">Sign Up</a>
				<br /><br />
				<p>Already have an account?</p>
				<a class="btn btn-primary" routerLink="/signin">Sign In</a>

				<div>
					1. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					2. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					3. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					4. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />


					5. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					6. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					7. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					8. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />

					
					9. Now is the time for all good men to come to the aid of their country.<br />
					The quick brown fox jumps over a lazy dog.<br />&copy; Simple Resume.<br /><br />
					
				</div>
			</div>
		</div>
	</div>
</div>